html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    background-color: #000D18;
    margin: 0;
    padding: 0;
    font-family:'Verdana';
}

a, h1, h2, h3, h4, h5, p {
    color: #dcdbfc;
}

.Links {
    position: absolute;
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    z-index: 4;

    li {
       float: right; 
       text-decoration: none;
       list-style-type: none;
       color: #dcdbfc;
       margin-right: 1vw;
       font-weight: 700;
    }
    img {
        height: 15px;
        width: auto;
        
       border-left: 6px;
       border-right: none;
    }
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    height: 100%;
    background-image: url("../res/backpattern.png");
    background-size: contain;
}

.splitter {
    align-self: center;
    width: 90%;
    height: 8px;
    background-color: #00182F;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 5px;
}
/* unused */
.navcontainer {
    position: sticky;
    display: none;
    /*display: flex;*/
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.navbar {
    position: inherit;
    display: flex;
    justify-content: left;
    align-items: center;

    inset: 0px;
    max-width: 100vw;
    max-height: fit-content;
    position: relative;


    opacity: 0.7;
    background-color: #dddddd;
    overflow: hidden;
    top: 0px;
    max-width: 100%;
    height: 3vh;

    padding: 10px;

}

.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#menuLinks a:hover {
    background-color: #c5c5c5;
    color: black;
    border-radius: 25px;
}

#menuLinks .active {
    color: #919191;
}

#menuLinks {
    display: none;
    background-color: #c5c5c5;
    position: sticky;
    text-decoration: none;
    width: 15%;
    height: 97vh;

    
    z-index: 5;
    min-width: fit-content;
    
}

#menuLinks ul {
    list-style-type: none;
}

#menuLinks a {
    text-decoration: none;
    margin: 0px;
    color: white;
    font-size: 40px;
}
/* unused end */
.Title {
    position: relative;
    display: flex;

    width: 90%;

    margin-left: auto;
    margin-right: auto;

}

.Title h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

.centeredBox {
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.About h1 {
    text-align: center;
    margin-top: 50px;
}

.grid-contain {
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: auto, 1fr;
    padding: 15px;
    background-color: #dddddd;
    opacity: 0.7;
    border-radius: 25px;
}

.grid-item {
    width: 50%; 
    padding: 5px;
}

.grid-image {
    width: 50%;
    padding: 5px;
    border-radius: 25px;
}

img {
    border-radius: 25px;
}