html {
    overflow-y: scroll;
    overflow-x: hidden;
    }

body {

    margin: 0;
    padding: 0;
    font-family:'Candara';
    }

.navcontainer {
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.navbar {
    position: inherit;
    display: flex;
    justify-content: left;
    align-items: center;

    inset: 0px;
    max-width: 100vw;
    max-height: fit-content;
    position: relative;


    opacity: 0.7;
    background-color: #dddddd;
    overflow: hidden;
    top: 0px;
    max-width: 100%;
    height: 3vh;

    padding: 10px;

}



.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#menuLinks a:hover {
    background-color: #c5c5c5;
    color: black;
    border-radius: 25px;
}

#menuLinks .active {
    color: #919191;
}


#menuLinks {
    display: none;
    background-color: #c5c5c5;
    position: sticky;
    text-decoration: none;
    width: 15%;
    height: 97vh;

    
    z-index: 5;
    
}

#menuLinks ul {
    list-style-type: none;
}

#menuLinks a {
    text-decoration: none;
    margin: 0px;
    color: white;
    font-size: 40px;
}



.Title {
    position: relative;
    display: flex;

    width: 100%;

    justify-content: center;
    align-items: center;
}

.Title h1 {
    font-size: 50px;
}

.tinfo {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.tinfo div {
    width: 80%;
    text-align: center;
}

.About H1 {
    text-align: center;
    margin-top: 50px;
}

.grid-contain {
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: auto, 1fr;
    padding: 15px;
}

.grid-item {
    width: 50%; 
    padding: 5px;
    
}

.grid-image {
    width: 50%;
    padding: 5px;
}